#boton {
  margin-left: 35px;
}

#registro {
  display: inline;
}

#body {
  background-color: #efe2ba;
  width: 100vw;
}

#foros {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 40px;
  margin-bottom: 10px;
  padding: 35px;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

#aux {
  border: 3px solid green;
}

#crearForo {
  border: 2px solid black;
  border-radius: 30px;
  font-size: 30px;
  color: black;
  padding: 10px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

form {
  border: 2px solid black;
  margin: 30px;
  margin-right: 40px;
  background-color: white;
  padding-left: 20px;
}

#formularioIngreso {
  width: 100%;
  border-width: 0px;
  background-color: #efe2ba;
  display: inline;
  margin-right: 0px;
}

#txtNombre {
  border: 2px solid black;
  width: 300px;
  margin-left: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 20px;
}

#txtDescripcion {
  border: 2px solid black;
  height: 90px;
  width: 300px;
}
#subirForo {
  font-size: 20px;
  margin-bottom: 20px;
}
