<div id="body">
    <h1>{{tema.titulo}}</h1>
    <h1>{{tema.contenido}}</h1>
    <div *ngFor="let comentario of comentarios">
        <div id="comentarios" *ngIf="comentario.aprobado">
            <p>
                Usuario: {{comentario.creador}}
            </p>
            <br>
            <br>
            Fecha de creación: {{comentario.fecha}}
            <p>
                {{comentario.contenido}}
            </p>
            <p>
                Votos: {{comentario.votos}}
            </p>
            <p *ngIf="comentario.respuesta">
                Respuesta:{{comentario.respuesta}}
            </p>
            <button (click)="votoArriba(comentario)" id="boton" *ngIf="mostrarVotos">Voto arriba</button>
            <button (click)="votoAbajo(comentario)" id="boton" *ngIf="mostrarVotos">Voto abajo</button>
            <a [routerLink]="['/comentario/edit', comentario.id]">
                <button id="boton" *ngIf="mostrarVotos">Modificar</button>
            </a>
            <button (click)="mostrarCajaRespuesta(comentario.id)" id="boton" *ngIf="mostrarVotos">Responder</button>
        </div>
        <form (ngSubmit)="responderComentario(comentario.id)" *ngIf="!comentario.id">
            <label for="txtContenido">Contenido: </label>
            <textarea id="txtContenido" name="contenido" [(ngModel)]="respuesta.contenido"></textarea>
            <br>
            <button type="submit" id="subirComentario">Crear</button>
            <button (click)="cerrarCajaRespuesta(comentario.id)">Cerrar</button>
        </form>
    </div>

    <button (click)="verFormulario()" id="crearComentario" *ngIf="mostrarCrear">+ Crear Comentario</button>
    <form (ngSubmit)="agregarComentario()" *ngIf="mostrarFormulario">
        <label for="txtContenido">Contenido: </label>
        <textarea id="txtContenido" name="contenido" [(ngModel)]="comentario.contenido"></textarea>
        <br>
        <button type="submit" id="subirComentario">Crear</button>
    </form>
</div>