#barraPrincipal {
  background-color: #d79922;
  text-align: center;
  padding: 20px;
  font-size: 70px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#body {
  background-color: #efe2ba;
  width: 100vw;
  height: 100vh;
}
