<div>
    <h1>{{foro.name}}</h1>
    <p>Información este foro:</p>
    <p *ngIf="!foro.moderado">No requiere moderación</p>
    <p *ngIf="foro.moderado">Requiere moderación</p>
    <hr class="rounded">
    <div *ngFor="let tema of temas">
        <div id="temas" *ngIf="tema.aprobado">
            <a [routerLink]="['/comentario/view', tema.id]">
                {{tema.titulo}}<br></a>
            <br>
            Fecha de creación: {{tema.fecha}}
            <br>
            {{tema.contenido}}
            <br>
            Votos: {{tema.votos}}

            <button id="boton" (click)="votarArriba(tema)" *ngIf="mostrarVotos">Voto arriba</button>
            <button id="boton" (click)="votoAbajo(tema)" *ngIf="mostrarVotos">Voto abajo</button>
            <button (click)="eliminarTema(tema.id)" id="boton" *ngIf="mostrarVotos">Eliminar</button>
            <a [routerLink]="['/tema/edit', tema.id]">
                <button id="boton" *ngIf="mostrarVotos">Modificar</button>
            </a>
        </div>
    </div>

    <button (click)="verFormulario()" id="crearTema" *ngIf="mostrarCrear">+ Crear Tema</button>
    <form (ngSubmit)="agregarTema()" *ngIf="mostrarFormulario">
        <label for="txtTitulo">Titulo:</label>
        <input id="txtTitulo" type="text" name="titulo" [(ngModel)]="tema.titulo">
        <br>
        <label for="txtContenido">Contenido: </label>
        <textarea id="txtContenido" name="contenido" [(ngModel)]="tema.contenido"></textarea>
        <br>
        <label for="">Fecha de creación: {{fechaActual}}</label>
        <br>
        <button type="submit" id="subirTema">Crear</button>
    </form>
</div>